<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="<Connection string>"/>
	</connectionStrings>
	<appSettings>
		<add key="Database" value="TeaShop"/>
		
		
		<add key="ParentTableName" value="TeaTypes"/>
		<add key="ChildTableName" value ="Teas"/>
		<add key="ParentSelectQuery" value="SELECT * FROM TeaTypes"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Teas"/>
		<add key="ParentReferencedKey" value="ttid"/>
		<add key="ChildForeignKey" value="ttid"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM Teas WHERE ttid = {0}"/>

		<!--<add key="ParentTableName" value="Distributors"/>
		<add key="ChildTableName" value ="Teas"/>
		<add key="ParentSelectQuery" value="SELECT * FROM Distributors"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Teas"/>
		<add key="ParentReferencedKey" value="did"/>
		<add key="ChildForeignKey" value="did"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM Teas WHERE did = {0}"/>-->
		
	</appSettings>
</configuration>